<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Musica</title>
    <link rel="stylesheet" href="../css/miPresentacion.css" />
</head>
<body>
    <nav>
        <img src="../img/yo_grande.jpg" alt="" />
        <h1>Juan Carlos Márquez</h1>
        <ul>
            <li class="primeraLi"><a href="musica.html">Musica</a></li>
            <li><a href="gym.html">Gym</a></li>
            <li><a href="../index.html">Mi Info</a></li>
        </ul>
    </nav>
    <div>
        <p>
        Me llamo Juan Carlos Marquez Garcia tengo 18 años y me gusta mucho el
        deporte
        </p>
    </div>
    <section id="main_musica">
        <p>
            Desde que era niño, la música ha sido una parte muy significativa en mi vida. Mis días están impregnados de sus melodías, ya que descubro que escuchar música no solo me relaja, sino que también me ayuda a entender mejor mi entorno. Aunque tengo gustos musicales variados y disfruto de diferentes géneros, durante el día suelo inclinarme un poco más hacia el rap y el hip hop.   <br>   <br>

            Lo que me atrae particularmente de este género son sus letras, las cuales a menudo abordan situaciones reales. Encuentro en las rimas y narrativas una conexión profunda con la vida cotidiana, lo cual resuena fuertemente en mí. La música en general se ha convertido en mi escape, un refugio que alivia mis preocupaciones y me sumerge en un estado de calma. Es como si cada canción me transportara a un mundo distinto, alejado del estrés diario.   <br>   <br>

            El poder transformador de la música sobre mi estado de ánimo y su capacidad para brindarle alivio a mis inquietudes es algo que aprecio enormemente. Por ello, la música se ha arraigado como una parte fundamental de mi rutina diaria; creando así una banda sonora personal que acompaña y realza cada instante de mi existencia.
        </p>
    </section>
    <footer>
        <h3>
        Todos los derechos reservados. Pagina realizada por Juan Carlos Marquez
        </h3>
    </footer>
</body>
</html>